<!DOCTYPE HTML>
<html>
<head>
    <title>Potogan Application Test</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Potogan Application Test</h1>
            <h2>Inscription à une conférence</h2>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.username) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.username) }}
                    <div class="input-group has-error">
                        {{ form_errors(form.username) }}
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.firstname) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.firstname) }}
                    <div class="input-group has-error">
                        {{ form_errors(form.firstname) }}
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.lastname) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.lastname) }}
                    <div class="input-group has-error">
                        {{ form_errors(form.lastname) }}
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.mobile) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.mobile) }}
                    <div class="input-group has-error">
                        {{ form_errors(form.mobile) }}
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.email) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.email) }}
                    <div class="input-group has-error">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.twitter) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.twitter) }}
                    <div class="input-group has-error">
                        {{ form_errors(form.twitter) }}
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.facebook) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.facebook) }}
                    <div class="input-group has-error">
                        {{ form_errors(form.facebook) }}
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(form.avatar) }}
                </div>
                <div class="col-md-9">
                    {{ form_widget(form.avatar) }}
                    <div class="input-group has-error">
                        {{ form_errors(form.avatar) }}
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
</body>
</html>
