<!DOCTYPE HTML>
<html>
<head>
    <title>Potogan Application Test</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Potogan Application Test</h1>
            <h2>Inscription à une conférence</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        Prénom
                    </th>
                    <th>
                        email
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Facebook
                    </th>
                    <th>
                        Twitter
                    </th>
                    <th>
                        Avatar
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobile }}</td>
                    <td>{{ user.facebook }}</td>
                    <td>{{ user.twitter }}</td>
                    <td>{% if user.avatar %}<img height="50px" class="thumbnail img-circle" src="{{ asset('uploads/' ~ user.avatar)  }}" alt="avatar_{{ user.id }}">{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>&nbsp;</div>
        </div>
    </div>
</div>
</body>
</html>
